.card {
    box-shadow: 0 0 5px 1px var(--primary-color);
    border-radius: 10px;
    display: flex;
    padding: 1.5rem;
}

.figure,
.image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 2.2rem;
}

.title {
    font-size: 3rem;
    font-weight: 700;
}

.description {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 0.9rem;
}
