:root {
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    --main-color: #ffffff;
    --primary-color: #f7764b;
}

html,
body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

input,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
}

.primary-btn {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    padding: 1rem 3.2rem;
    border: none;
    color: var(--main-color);
    width: fit-content;
}

.primary-btn--outline {
    background-color: transparent;
    border: 2px solid var(--main-color);
}
