:root {
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    --main-color: #ffffff;
    --primary-color: linear-gradient(179deg, #fccf31 10%, #f55555 100%);
}

html,
body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
